<form name="altEditor-form" role="form" id="certForm" th:object="${certform}" th:action="@{/updatessl}" method="post">
					
			<input type='hidden' class='primarykey' id="idSystemCertificate" th:field="*{idSystemCertificate}">
			
			<div class="form-group">
				
					<label for="name" class="col-form-label" th:text="#{form.ssl.alias}"></label>
					
					<input type="text" id="alias" th:field="*{alias}" style="overflow:hidden" class="form-control" required pattern=".{3,15}" />
					<div id="invalid-name" class="invalid-feedback"></div>
				
				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">

				<label for="name" class="col-form-label" th:text="#{form.ssl.subject}"></label>
					
					<input type="text" id="subject" th:field="*{subject}" style="overflow:hidden" readonly class="form-control" required pattern=".{3,15}" />
					<div id="invalid-subject" class="invalid-feedback"></div>	

				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">

				<label for="name" class="col-form-label" th:text="#{form.ssl.issuer}"></label>
					
					<input type="text" id="issuer" th:field="*{issuer}" style="overflow:hidden" readonly class="form-control" required pattern=".{3,15}" />
					<div id="invalid-issuer" class="invalid-feedback"></div>	

				<div style="clear:both;"/>
			</div>
							
</form>
