<div class="modal" tabindex="-1" role="dialog" id="configureEmailsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"
					th:text="#{applalert.summaries.modal.emailconfiguration.title}"></h4>
				<button type="button" class="close" aria-label="Cerrar" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<form name="altEditor-form" role="form" id="emailInfoForm" th:object="${emailinfoform}" action="#" method="post">
			<input type='hidden' class='primarykey' id="idAlertSystem" th:field="*{idAlertSystem}">
			
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="emails" th:text="#{applalert.summaries.modal.emailconfiguration.description}"></label>
						<textarea cols="10" rows="5" class="form-control mon-log-panel" th:field="*{emailAddress}" id="emailAddress" name="emailAddress"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" th:text="#{button.close}" data-dismiss="modal"></button>
					<button type="button" id="saveEmailButton" class="btn btn-primary" 
					th:text="#{applalert.summaries.modal.btn.config}"></button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>

<script th:inline="javascript">

	$(document).ready(function () {

		$("#secondaryModalBackdrop").addClass("modal-backdrop show");

		$('#saveEmailButton').on( 'click', function () {

			// Se comprueba que no se este utilizando mas de un tipo de separador
			if(checkEmailSeparators()) {
			// Se comprueba que los emails esten correctamente formados
				if(checkEmailFormat()) {
					var alertSystems = $("#alertSystemTable").dataTable().fnGetNodes();
				            
					for (var i = 0 ; i < alertSystems.length ; i++) {
						var alertSystemData = $('#alertSystemTable').DataTable().row($(alertSystems[i])).data();
						// Si los datos vienen de la parte de configuracion de alertas vendran definidos de una forma, y si
						// vienen desde la configuracion de resumenes vendran de otra, por lo que se comprueba la forma en la que vienen
						// para anadirlos a la tabla de sistemas de una forma u otra
						if(alertSystemData.idAlertSystemMonitoriza === undefined){
							if (alertSystemData.alertSystemMonitoriza.idAlertSystemMonitoriza == $("#idAlertSystem").val()) {
								$('#alertSystemTable').DataTable().row($(alertSystems[i])).data().resumeEmailAddresses = $("#emailAddress").val();
					        }
						} else {
							if (alertSystemData.idAlertSystemMonitoriza == $("#idAlertSystem").val()) {
								$('#alertSystemTable').DataTable().row($(alertSystems[i])).data().resumeEmailAddresses = $("#emailAddress").val();
					        }
				        }
				     }
				
					$("#configureEmailsModal").hide();
					$("#secondaryModalBackdrop").removeClass("modal-backdrop show");
					$('#summaryModal').modal().on('shown', function(){
						$('body').css('overflow', 'auto');
					});
					$('.modal-backdrop').each(function(i, obj) {
						$(obj).remove();
						return false;
					});

		        } else {
					$('#errorEmailModal').remove();
					$('#emailInfoForm').append
					('<div id="errorEmailModal" class="alert alert-danger" role="alert"><strong>' +
					'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
					[[#{applalert.summaries.error.emailformat}]] + '</strong></div>');
		        }
			} else {
				$('#errorEmailModal').remove();
				$('#emailInfoForm').append
				('<div id="errorEmailModal" class="alert alert-danger" role="alert"><strong>' +
				'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
				[[#{applalert.summaries.error.duplicateemailseparator}]] + '</strong></div>');
		    }
		});

		$("#configureEmailsModal").on('hidden.bs.modal', function(){
			$("#secondaryModalBackdrop").removeClass("modal-backdrop show");
			$('#summaryModal').modal().on('shown', function(){
				$('body').css('overflow', 'auto');
		 	});
		});
    });

	// Funcion que comprueba que no se este utilizando mas de un tipo de separador entre emails
	function checkEmailSeparators(){

		var separatorCount = 0;

		if ($("#emailAddress").val().indexOf('\n') > -1) {
			separatorCount += 1;
		}

		if ($("#emailAddress").val().indexOf(',') > -1) {
			separatorCount += 1;
		}

		if ($("#emailAddress").val().indexOf(';') > -1) {
			separatorCount += 1;
		}

		if (separatorCount > 1) {
			return false;
		} else {
			return true;
		}
	}

	// Funcion que comprueba que los emails introducidos tienen un formato correcto
	function checkEmailFormat() {

		var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

		var validFormat = true;
		
    	var emailArray = [];

    	if ($("#emailAddress").val() == ""){
    		emailArray = [""];
        } else if ($("#emailAddress").val().indexOf(',') > -1) {
        	emailArray = $("#emailAddress").val().split(',');
		} else if ($("#emailAddress").val().indexOf(';') > -1) {
			emailArray = $("#emailAddress").val().split(';');
		} else if ($("#emailAddress").val().indexOf('\n') > -1) {
			emailArray = $("#emailAddress").val().split('\n');
    	} else {
    		emailArray = [$("#emailAddress").val()];
        }

    	for (var i = 0 ; i < emailArray.length ; i++) {
    		if (emailArray[i] != "") {
    			validFormat = re.test(emailArray[i]);
            }
    	}
    	
		return validFormat;
	}
</script>