<div class="modal" tabindex="-1" role="dialog" id="configureEmailsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"
					th:text="#{applalert.summaries.modal.emailconfiguration.title}"></h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Cerrar" onclick="closeModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<form name="altEditor-form" role="form" id="emailInfoForm" th:object="${emailinfoform}" action="#" method="post">
			<input type='hidden' class='primarykey' id="idAlertSystem" th:field="*{idAlertSystem}">
			
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="emails" th:text="#{applalert.summaries.modal.emailconfiguration.description}"></label>
						<textarea cols="10" rows="5" class="form-control mon-log-panel" th:field="*{emailAddress}" id="emailAddress" name="emailAddress"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" th:text="#{button.close}" onclick="closeModal()"></button>
					<button type="button" id="saveEmailButton" class="btn btn-primary" 
					th:text="#{applalert.summaries.modal.btn.config}"></button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>

<script th:inline="javascript">

	function closeModal(){
		$('#configureEmailsModal').hide();
		$('#summaryModal').modal().on('shown', function(){
			$('body').css('overflow', 'auto');
	 	});
		$('.modal-backdrop').each(function(i, obj) {
			$(obj).remove();
		    return false;
		});
	}

	$(document).ready(function () {
		
        $('#saveEmailButton').on( 'click', function () {
            
            var alertSystems = $("#alertSystemTable").dataTable().fnGetNodes();
            
            for (var i = 0 ; i < alertSystems.length ; i++) {
            	var alertSystemData = $('#alertSystemTable').DataTable().row($(alertSystems[i])).data();
            	if (alertSystemData.idAlertSystemMonitoriza == $("#idAlertSystem").val()) {
            		$('#alertSystemTable').DataTable().row($(alertSystems[i])).data().resumeEmailAddresses = $("#emailAddress").val();
                }
            }

            closeModal();
         });
    })
</script>