<div class="modal" tabindex="-1" id="summaryModal"
	name="summaryModal">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content" style="margin-left: -50%; width: 200%;">
			<div class="modal-header">
				<h4 class="modal-title"
					th:text="#{applalert.summaries.modal.add.title}"></h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Cerrar" onclick="removeBackdrop()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form name="altEditor-form" role="form" id="summaryForm" th:object="${summaryform}" th:action="@{/saveresume}" method="post">
				<div class="modal-body">
					<div class="row gap-30 masonry pos-r">
						<div class="masonry-sizer col-md-12"></div>
						<div class="masonry-item col-md-6">
							<div class="bgc-white p-20 bd">
								<div>
									<input type='hidden' class='primarykey' id="idResumeMonitoriza"
										th:field="*{idResumeMonitoriza}">

									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="name" th:text="#{applalert.summaries.modal.name}"></label>
											<input type="text" th:field="*{name}" class="form-control" id="name" >
										</div>
									</div>
									<div class="form-row">
										<div
											class="checkbox checkbox-circle checkbox-info peers mL-5 mB-20 mT-10">
											<input type="checkbox" id="isEnabled" name="isEnabled" class="peer" th:checked="${summaryform.isEnabled}"> 
												<label for="isEnabled" class="peers peer-greed js-sb ai-c"> 
												<span class="peer peer-greed" th:text="#{applalert.summaries.modal.activeresume}">
												</span>
											</label>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="description"
												th:text="#{applalert.summaries.modal.description}"></label>
											<input type="text" class="form-control" id="description" th:field="*{description}"
												name="description">
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="periodicity"
												th:text="#{applalert.summaries.modal.periodicity}"></label>
											<select id="periodicity" class="form-control"
												name="periodicity" th:field="*{periodicity}" required>
												<option selected="selected" value="1"
													th:text="#{applalert.summaries.modal.periodicity.select.hourly}"></option>
												<option value="24"
													th:text="#{applalert.summaries.modal.periodicity.select.daily}"></option>
												<option value="168"
													th:text="#{applalert.summaries.modal.periodicity.select.weekly}"></option>
												<option value="720"
													th:text="#{applalert.summaries.modal.periodicity.select.monthly}"></option>
											</select>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-10">
											<label for="alertSystemsList" th:text="#{applalert.summaries.modal.notifsystem}"></label>
											<select name="alertSystemsList" id="alertSystemsList"
												class="form-control" th:field="*{alertSystemsList}" required>
												<option th:each="t: ${alertSystemsList}"
													th:value="${t.idAlertSystemMonitoriza}" th:text="${t.name}"></option>
											</select>
										</div>
										<div class="form-group col-md-2 align-self-end">
											<button id="btnAddAlertSystem"
												type="button"
												class="btn btn-primary"
												th:text="#{applalert.summaries.modal.btn.add}"></button>
										</div>
									</div>
									<table id="alertSystemTable"
										class="table table-striped table-bordered" cellspacing="0"
										width="100%">
										<thead>
											<tr>
												<!-- Columna oculta para el identificador del sistema de notificacion -->
												<th></th>
												<th th:text="#{applalert.summaries.modal.notifsystem}"></th>
												<!-- Columna oculta para los emails configurados -->
												<th></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>

						<div class="masonry-item col-md-6">
							<div class="bgc-white p-20 bd">
								<h6 class="c-grey-900"
									th:text="#{applalert.summaries.modal.alertslist}"></h6>
								<div class="mT-30">
									<div class="form-row">
										<div class="form-group col-md-4">
											<label for="applicationsList"
												th:text="#{applalert.summaries.modal.table.application}"></label>
											<select name="applicationsList" id="applicationsList"
												class="form-control" th:field="*{applicationsList}" required>
												<option th:each="t: ${applicationsList}"
													th:value="${t.idApplicationMonitoriza}" th:text="${t.name}"></option>
											</select>
										</div>
										<div class="form-group col-md-2 align-self-end">
											<button id="btnAddAllAlerts" type="button"
												class="btn btn-primary"
												th:text="#{applalert.summaries.modal.btn.addall}"></button>
										</div>
										<div class="form-group col-md-3 mL-25">
											<label for="alertConfigList"
												th:text="#{applalert.summaries.modal.table.alert}"></label>
											<select name="alertConfigList" id="alertConfigList"
												class="form-control" th:field="*{alertConfigList}" required>
												<option th:each="t: ${alertConfigList}"
													th:value="${t.alertTypeMonitoriza.idTypeMonitoriza}"
													th:text="${t.alertTypeMonitoriza.name}"></option>
											</select> </select>
										</div>
										<div class="form-group col-md-2 align-self-end">
											<button id="btnAddAlertConfig" type="button"
												class="btn btn-primary"
												th:text="#{applalert.summaries.modal.btn.add}"></button>
										</div>
									</div>
									<table id="alertListTable"
										class="table table-striped table-bordered" cellspacing="0"
										width="100%">
										<thead>
											<tr>
												<!-- Columna oculta para el identificador de la aplicacion-->
												<th></th>
												<th th:text="#{applalert.summaries.modal.table.application}"></th>
												<th></th>
												<th th:text="#{applalert.summaries.modal.table.alert}"></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>-
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					th:text="#{button.close}" onclick="removeBackdrop()"></button>
				<button type="button" id="summaryButton" class="btn btn-primary"
					th:text="#{applalert.summaries.modal.btn.accept}"></button>
			</div>
			</form>
		</div>
	</div>
</div>

<div id="emailInformationModal"></div>

<script th:inline="javascript">

	function removeBackdrop(){
		$('.modal-backdrop').each(function(i, obj) {
			$(obj).remove();
		    return false;
		});
	}

	$(document).ready(function () {

		// Identificadores para la aplicacion de la tabla de aplicacion-alerta
		var applicationsIdArray = [];
		// Identificadores de los tipos de alerta de la tabla de aplicacion-alerta
		var alertsTypesIdArray = [];
		// Identificadores de los sistemas de notificacion indicados en la tabla
		var notifSystemsIdArray = [];
		// Emails configurados para los sistemas de notificacion
		var emailConfigurationArray = [];

		var getAlertsFromApp = /*[[@{/alertsfromapplication}]]*/;
		var saveResume = /*[[@{/saveresume}]]*/;
		var getResumeAlertSystems = /*[[@{/resumealertssystemsdt}]]*/;
		var getResumeAppsAndAlertsTypes = /*[[@{/resumeappsalerttypessdt}]]*/;
		var getEmailInfo = /*[[@{/emailinformation}]]*/;

		// Instancia de las tablas para sistemas de notificacion y aplicaciones / tipos de alerta
		var alertSystemTbl = $('#alertSystemTable').DataTable({
			dom: 'Bfrtip',
		    responsive: true,
			select: 'single',
			searching: false,
			altEditor: true,
			"bLengthChange" : false,
		    buttons: [
				{extend: 'selected',text: 'Configurar',name: 'configure',
					action: function ( e, dt, node, config ) {

						for (var o = dt, a = [], e = 0; e < o.context[0].aoColumns.length; e++) a.push({
							id: o.context[0].aoColumns[e].mData           
						});
								  
						var d = dt.rows({
							selected: !0
						});
									
						var idAlertSystem = d.data()[0][a[0].id];

						var emailConfiguration = d.data()[0].resumeEmailAddresses;
						
	            		$.ajax(getEmailInfo, {
			                data : $.param({'idAlertSystem':idAlertSystem ,'emailConfiguration':emailConfiguration}),
			                type:'POST'
			            })
			            .done(function (data) {
			            	 $('#emailInformationModal').html(data);
			            	 $('#configureEmailsModal').modal('show');
	    		         }) ;
					}
				},   
    			{extend: 'selected',text: 'Eliminar',name: 'deleteAlertSystem',
					action: function ( e, dt, node, config ) {
						var alertSysSelected = alertSystemTbl.rows({ selected: true });
						alertSystemTbl.row(alertSysSelected).remove().draw();
					}
				}
			],
		    "language": {
		        "url": "js/datatables/i18n/spanish.json",
		        select: {
		            rows: {
		                _: "%d filas seleccionadas",
		                1: "1 fila seleccionada"
		            }
		          }
		    },
			"ajax": {
				"url": getResumeAlertSystems,
				"data" : { "resumeId" : $("#idResumeMonitoriza").val()},
				"type" : "POST"
			},
			"columns": [
				{ "data": "idAlertSystemMonitoriza", "visible": false},
		        { "data": "name" },
		        { "data": "resumeEmailAddresses", "visible": false}
		        ]
			});

		var alertConfigTbl = $('#alertListTable').DataTable({
			dom: 'Bfrtip',
		    responsive: true,
			select: 'single',
			searching: false,
			altEditor: true,
			"bLengthChange" : false,
		    buttons: [
				{extend: 'selected',text: 'Eliminar',name: 'deleteAppAlert',
					action: function ( e, dt, node, config ) {
						var alertConfSelected = alertConfigTbl.rows({ selected: true });
						alertConfigTbl.row(alertConfSelected).remove().draw();
					}
				}
			],
		    "language": {
		        "url": "js/datatables/i18n/spanish.json",
		        select: {
		            rows: {
		                _: "%d filas seleccionadas",
		                1: "1 fila seleccionada"
		            }
		          }
		    },
			"ajax": {
				"url": getResumeAppsAndAlertsTypes,
				"data" : { "resumeId" : $("#idResumeMonitoriza").val()},
				"type" : "POST"
			},
			"columns": [
				{ "data" : "applicationMonitoriza.idApplicationMonitoriza", "visible": false },
		        { "data" : "applicationMonitoriza.name" },
		        { "data" : "alertTypeMonitoriza.idTypeMonitoriza", "visible": false },
		        { "data" : "alertTypeMonitoriza.name" }
		        ]
			});

		// Funciones para los eventos de botones y selects
    	$("#applicationsList").change(function () {
        	
        	var idApplicationMonitoriza = $("#applicationsList option:selected").val();

    		$.ajax(getAlertsFromApp, {
                data : $.param({'id':idApplicationMonitoriza}),
                type:'POST',
                success: function(data){
                    if (data) {  
                        $('#alertConfigList').html('');  
                        var options = '';
                        for (var i = 0; i < data.length; i++) {  
                            options += '<option value="' + data[i].alertTypeMonitoriza.idTypeMonitoriza + '">' + data[i].alertTypeMonitoriza.name + '</option>';  
                        }  
                        $('#alertConfigList').append(options);  
                    }
                },
                error:function(data){
                	console.log(data);
                }
            });
     	
    	});	

        $('#btnAddAlertSystem').on( 'click', function () {
        	alertSystemTbl.row.add({"idAlertSystemMonitoriza" : $("#alertSystemsList option:selected").val(),
            						"name" : $("#alertSystemsList option:selected").text(),
            						"resumeEmailAddresses" : ""
            						}).draw(false);
        });

        $('#btnAddAlertConfig').on( 'click', function () {
     	   insertAlertConfig($("#applicationsList option:selected").val(),
								$("#applicationsList option:selected").text(),
								$("#alertConfigList option:selected").val(),
								$("#alertConfigList option:selected").text());
        });

        $("#btnAddAllAlerts").click(function(){
            $("#alertConfigList option").each(function(){
               if ($(this).val() != "" ){
            	   insertAlertConfig($("#applicationsList option:selected").val(), 
                    	   			$("#applicationsList option:selected").text(),
            			   			$(this).val(), 
            			   			$(this).text());
               }
            });
          });

        $("#summaryButton").click(function(){
        	
            loading();

            // Cargamos la informacion de las tablas en arrays que se mandaran al servidor
            loadTableInfoIntoArrays();

            var formToJSON = $("#summaryForm").serializeJSON();
            formToJSON.applicationsIdArray = applicationsIdArray;
            formToJSON.alertsTypesIdArray = alertsTypesIdArray;
            formToJSON.notifSystemsIdArray = notifSystemsIdArray;
            formToJSON.emailConfigurationArray = emailConfigurationArray;
            
            //Eliminamos los datos que no son necesarios para guardar un nuevo registro
            delete formToJSON["alertSystemsList"];
            delete formToJSON["applicationsList"];
            delete formToJSON["alertConfigList"];
            
			$.ajax(saveResume, {
            	dataType : 'json',
            	contentType:'application/json',
                data : JSON.stringify(formToJSON),
                type:'POST',
                success: function(data){
            		// Se oculta la capa 'cargando...'
            		removeBackdrop();
            		hide();
            		summariesTable.row.add($(data.data)).draw(false);
                    $('#summaryModal').modal('hide');
                },
                error:function(data){
                	removeBackdrop();
                	hide();
                	$('#errorModalSummary').remove();
                	$('#summaryModal').append('<div id="errorModalSummary" class="alert alert-danger" role="alert"><strong>ERROR</strong></div>');
                }
            });
		});

		if ($("#isEnabled").is(":checked")) {
			$("#isEnabled").val('true');
		} else {
			$("#isEnabled").attr('value', 'false');
		}

		$("#isEnabled").change(function () {
    		if ($(this).is(":checked")) {
    			$(this).val('true');
    		} else {
    			$(this).attr('value', 'false');
    		}
		});

        function insertAlertConfig(appValue, appText, alertValue, alertText){

            alertConfigTbl.row.add({"applicationMonitoriza" : {
                					"idApplicationMonitoriza" : appValue, 
                					"name" : appText},
                					"alertTypeMonitoriza" : {
                					"idTypeMonitoriza" : alertValue,
                					"name" : alertText}}).draw(false);
		}

		function loadTableInfoIntoArrays(){
			
            var alertSystems = $("#alertSystemTable").dataTable().fnGetNodes();
            for (var i = 0 ; i < alertSystems.length ; i++) {
            	var alertSystemData = $('#alertSystemTable').DataTable().row($(alertSystems[i])).data();
            	notifSystemsIdArray.push(alertSystemData.idAlertSystemMonitoriza);
            	var resumeEmailArray = alertSystemData.resumeEmailAddresses.split('\n');
            	if (emailConfigurationArray.length == 0) {
            		emailConfigurationArray[0] = resumeEmailArray;
                } else {
                	emailConfigurationArray[emailConfigurationArray.length] = resumeEmailArray;
				}
            }

            var appAlerts = $("#alertListTable").dataTable().fnGetNodes();
            for (var i = 0 ; i < appAlerts.length ; i++) {
            	var appAlertData = $('#alertListTable').DataTable().row($(appAlerts[i])).data();
            	applicationsIdArray.push(appAlertData.applicationMonitoriza.idApplicationMonitoriza);
            	alertsTypesIdArray.push(appAlertData.alertTypeMonitoriza.idTypeMonitoriza);
            }
		}

 	});
</script>