<div class="modal" tabindex="-1" role="dialog" id="modalEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar registro</h4>
				<button type="button" class="close" onclick="closeButton('modalEdit')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="userFormEdit" th:object="${userformEdit}" th:action="@{/menueditsave}" method="post">
					<input type='hidden' class='primarykey' id="idUserMonitorizaEdit" th:field="*{idUserMonitorizaEdit}">
					
					<div class="form-group">
						
							<label for="nameEdit" class="col-form-label" th:text="#{form.user.name}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input type="text" id="nameEdit" th:field="*{nameEdit}" style="overflow:hidden" class="form-control" required />
							<span id="nameEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="surnamesEdit" class="col-form-label" th:text="#{form.user.surnames}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input type="text" id="surnamesEdit" th:field="*{surnamesEdit}" style="overflow:hidden" class="form-control" required />
							<span id="surnamesEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="loginEdit" class="col-form-label" th:text="#{form.user.login}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageLogin = /*[[#{form.user.login.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input type="text" id="loginEdit" th:field="*{loginEdit}" style="overflow:hidden" class="form-control" required />
							<span id="loginEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="emailEdit" class="col-form-label" th:text="#{form.user.email}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageEmail = /*[[#{form.user.email.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input type="email" id="emailEdit" th:field="*{emailEdit}" style="overflow:hidden" class="form-control" required/>
							<span id="email_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						
						<div style="clear:both;"/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="closeButton('modalEdit')">Cerrar</button>
				<button type="submit" id="editBtnModal" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
	$( "#editBtnModal" ).click(function( event ) {
		  event.preventDefault();
		  $('#errorModalEdit').remove();
		  cleanSpan();
		  var tbl = $('#userTable').DataTable();	
		  var formData = JSON.stringify($("#userFormEdit").serializeJSON());
		  var url = /*[[@{/saveuseredit}]]*/;
		  
		  loading();
		  
		  $.ajax({
			  type: "POST",
			  url: url,
			  data: formData,
			  success: function(data){
				  hide();
				  var errores = JSON.parse(data.error);
				  cleanSpan();
				  	if (data.error != null){
				  		cleanSpan();
	      				  var errores = JSON.parse(data.error);
	      				  
	      				  jQuery.each(errores, function(i, val) {
	      					  
	      				  	$('#userFormEdit *').filter('span').each(function(){
	      						if (i == $(this).attr('id')){
	      							$("#" + i).text(val);
	      						}
	      					});
	      				  });
				  	}else{
				
				  		cleanSpan();
				tbl.row.add($(data.data)).draw(false);
				
				if ($('#errorModalEdit').length > 0){
					$('#errorModalEdit').remove();
				}
				
				closeModalButton('modalEdit');
				}
			  },
			  error:function(){
				  hide();
				  $('#errorModalEdit').remove();
				  $('#userFormEdit').append('<div id="errorModalEdit" class="alert alert-danger" role="alert"><strong>' + [[#{message.error}]] + '</strong></div>');
			  },
			  dataType: "json",
			  contentType : "application/json"
		});
	});
	
	function cleanSpan(){
		  $('#userFormEdit *').filter('span.badge').each(function(){
				$(this).text("");				
		 });
	}
</script>