<form name="altEditor-form" role="form" id="userForm" th:object="${userform}" th:action="@{/saveuser}" method="post">
			<div id="errorSaveUser" role="alert"></div>		
			<input type='hidden' class='primarykey' id="idUserMonitoriza" th:field="*{idUserMonitoriza}">
			
			<div class="form-group">
				
					<label for="name" class="col-form-label" th:text="#{form.user.name}"></label>
					<script th:inline="javascript">
						/*<![CDATA[*/
						    var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
						/*]]>*/
					</script>
					<span id="name_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input type="text" name="nameAdd" id="nameAdd" th:field="*{name}" class="form-control" required />
			</div>
			
			<div class="form-group">
				
					<label for="surnames" class="col-form-label" th:text="#{form.user.surnames}"></label>
					<script th:inline="javascript">
						/*<![CDATA[*/
						    var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
						/*]]>*/
					</script>
					<span id="surnames_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input type="text" name="surnamesAdd" id="surnamesAdd" th:field="*{surnames}" class="form-control" required />
			</div>
			
			<div class="form-group">
				
					<label for="login" class="col-form-label" th:text="#{form.user.login}"></label>
					<script th:inline="javascript">
						/*<![CDATA[*/
						    var messageLogin = /*[[#{form.user.login.pattern}]]*/ 'default';
						/*]]>*/
					</script>
					<span id="login_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input type="text" name="loginAdd" id="loginAdd" th:field="*{login}" style="overflow:hidden" class="form-control" required />
			</div>
			
			<div class="form-group">
				
					<label for="password" class="col-form-label" th:text="#{form.user.password}"></label>
					<script th:inline="javascript">
						/*<![CDATA[*/
						    var messagePassword = /*[[#{form.user.password.pattern}]]*/ 'default';
						/*]]>*/
					</script>
					<span id="passwordAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input type="password" style="display:none">
					<input type="password" name="passwordAdd" id="passwordAdd" th:field="*{password}" class="form-control" required />
			</div>
			
			<div class="form-group">
				
					<label for="confirmPassword" class="col-form-label" th:text="#{form.user.confirmPassword}"></label>
					<span id="confirmPasswordAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input onblur="validateConfirmPassword();" type="password" name="confirmPassword" id="confirmPasswordAdd" th:field="*{confirmPassword}" class="form-control" pattern=".{7,30}" required />
			</div>
			
			<div class="form-group">
				
					<label for="email" class="col-form-label" th:text="#{form.user.email}"></label>
					<script th:inline="javascript">
						/*<![CDATA[*/
						    var messageEmail = /*[[#{form.user.email.pattern}]]*/ 'default';
						/*]]>*/
					</script>
					<span id="email_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input type="email" name="emailAdd" id="emailAdd" th:field="*{email}" style="overflow:hidden" class="form-control" required/>
			</div>
							
</form>

<script th:inline="javascript">

function validateConfirmPassword(){
	
	var pass = $('#passwordAdd').val();
    var repass = $('#confirmPasswordAdd').val();
	var messageConfirmPassword = /*[[#{form.user.confirmPassword.pattern}]]*/ 'default';
	
	if(($('#passwordAdd').val().length == 0) || ($('#confirmPasswordAdd').val().length == 0)){
		$('#passwordAdd_span').html(messageConfirmPassword);
		$('#passwordAdd_span').addClass("badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill");
    }
    else if (pass != repass) {
    	$('#invalid-confirmPassword').html(messageConfirmPassword);
		$('#invalid-confirmPassword').addClass("badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill");
    }
    else {
    	$('#invalid-confirmPassword').html('');
		$('#invalid-confirmPassword').removeClass("badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill");
    }
	
}

</script>