<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright (c) 2015 by European Commission
  ~
  ~ Licensed under the EUPL, Version 1.1 or - as soon they will be approved by
  ~ the European Commission - subsequent versions of the EUPL (the "Licence");
  ~ You may not use this work except in compliance with the Licence.
  ~ You may obtain a copy of the Licence at:
  ~ http://www.osor.eu/eupl/european-union-public-licence-eupl-v.1.1
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the Licence is distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the Licence for the specific language governing permissions and
  ~ limitations under the Licence.
  ~
  ~ This product combines work with different licenses. See the "NOTICE" text
  ~ file for details on the various modules and licenses.
  ~ The "NOTICE" text file is part of the distribution. Any derivative works
  ~ that you distribute must include a readable copy of the "NOTICE" text file.
  -->

<configuration>

    <!--
        This define the CONSOLE appender - the level of the console appender is based on the root level
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd; HH:mm:ss.SSS} [%thread] %-5level %logger{66} %marker -%X{sessionId} -%X{remoteHost} -%msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- <logger name="sun.net.www.protocol.http">
		<level value="TRACE" />
		<appender-ref ref="STDOUT" />
	</logger> -->
	
	<!-- <logger name="httpclient">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger> -->
 
	<logger name="org.apache.http.wire" >
	    <appender-ref ref="STDOUT" />
	    <level value="DEBUG" />
	</logger>

	<logger name="org.apache.http.impl.conn" >
	    <appender-ref ref="STDOUT" />
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.http.impl.client" >
	    <appender-ref ref="STDOUT" />
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.http.client" >
	    <appender-ref ref="STDOUT" />
		<level value="DEBUG" />
	</logger>
 
	<logger name="org.opensaml">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<!-- Bar package -->
	<logger name="eu.eidas.auth">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</logger>

    <logger name="org.apache.xml.security">
        <level value="WARN" />
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>