<div class="container-fluid">
	<div class="row">
	    <div class="col-12">
	    	<div style="text-align: center;">
		    	<img style="width: 350px;" th:src="@{images/expired.png}" alt="logo" />
		
		      	<div class='d-f jc-c fxd-c'>
		        	<h1 class='mB-30 fw-900 lh-1 c-red-500' style="font-size: 60px;">Sesi&oacute;n expirada</h1>
		        	<div>
		        		<a href="inicio" type='primary' class='btn btn-primary' th:href="@{/inicio}">Volver al inicio</a>
		        	</div>
		    	</div>
	    	</div>
		</div>
	</div>
</div>