<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link type="text/css" rel="stylesheet"
	th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{css/main.css}" />
<link type="text/css" rel="stylesheet" th:href="@{css/util.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/material-design-iconic-font.min.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/font-awesome.min.css}" />
<!--[if IE]><link rel="shortcut icon" th:src="@{images/chart_ico.png}"><![endif]-->
<link type="image/png" rel="icon" th:href="@{images/chart_favicon.png}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{monitoriza.title}"></title>
</head>
<body>
	<div class="limiter">
		<div class="monitoriza-header">
			<img id="logo_gob" th:src="@{images/cabeceraLogoGobierno.png}"
				alt="Gobierno de Espa&ntilde;a"
				class="monitoriza-header-logo-gobierno">
		</div>
		<div class="container-login">
			<div class="wrap-login">
				<form id="formLogin" class="login-form validate-form"
					th:action="@{/}" method="post">
					<span class="login-form-title p-b-26" th:text="#{monitoriza.welcome}"></span>
					<span class="login-form-title p-b-48">
					 <img class="monitoriza-front-img" th:src="@{images/chart_ico.png}"
						alt="Monitoriz@" />
					</span>

					<div class="alert alert-danger" th:if="${param.error}"
					 th:text="#{monitoriza.login.error}"></div>
					<div class="alert alert-warning" th:if="${param.logout}"
					 th:text="#{monitoriza.login.warn.logout}"></div>

					<div class="wrap-input validate-input"
						data-validate="Introduzca nombre de usuario">
						<span class="label-input" th:text="#{monitoriza.login.username.field}"></span>
						 <input id="username" class="input100" type="text" name="username">
					</div>

					<div class="wrap-input validate-input"
						data-validate="Introduzca contraseña">
						<span class="label-input" th:text="#{monitoriza.login.password.field}"></span>
						 <span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i>
						</span> <input id="password" class="input100" type="password"
							name="password">
					</div>

					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button onclick="submit(this);" class="login-form-btn"
							 th:text="#{monitoriza.login.acceso.button}"></button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<script th:src="@{js/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>