<div class="container-fluid" id="tableSysnot">
	<h4 class="c-grey-900 mT-10 mB-30" th:text="#{applalert.admin.title}"></h4>
	<div class="row">
		<div class="col-md-12">
			<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<h4 class="c-grey-900 mB-20" th:text="#{table.applalert.controlpanel.title}"></h4>
				<label for="period" th:text="#{applalert.controlpanel.period}"></label>
				<div class="form-row">
				<div class="form-group col-md-2">
					<select id="period" name="period" class="form-control">
						<option selected="selected" value="all" th:text="#{applalert.controlpanel.period.all}"></option>
						<option value="last10minutes" th:text="#{applalert.controlpanel.period.last10minutes}"></option>
						<option value="lasthour" th:text="#{applalert.controlpanel.period.lasthour}"></option>
						<option value="last3hours" th:text="#{applalert.controlpanel.period.last3hours}"></option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<button th:text="#{applalert.controlpanel.period.consult}" class="btn btn-primary"></button>
				</div>
				</div>
				<table id="alertAuditTable" class="table table-striped table-bordered" 
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<!-- Columna oculta para el identificador del aviso de sistema -->
							<th th:text="#{table.applalert.controlpanel.hour}"></th>
							<th th:text="#{table.applalert.controlpanel.application}"></th>
							<th th:text="#{table.applalert.controlpanel.node}"></th>
							<th th:text="#{table.applalert.controlpanel.alert}"></th>
							<th th:text="#{table.applalert.controlpanel.citricity}"></th>
							<th th:text="#{table.applalert.controlpanel.description}"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function() {
	var getAlertAudit = /*[[@{/alertauditdatatable}]]*/;
	
	var tbl = $('#alertAuditTable').DataTable({
		dom: 'Bfrtip',
	    select: 'single',
	    responsive: true,
	    altEditor: true,
	
	    "iTotalRecords": "totalElements",
        "iTotalDisplayRecords": "numberOfElements",
	    
		"processing": true,
	    "serverSide": true,
	    "language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	            rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	            }
	          }
	        },
		"ajax": {
				"url": getAlertAudit,
				"dataSrc" : "data",
				"data": function (data) {
				}
		},
		"columns": [
	        { "data": "timestamp"},
	        { "data": "appName" },
	        { "data": "node" },
	        { "data": "alertName" },
	        { "data": "severity" },
	        { "data": "description" }
	        ]
		});
});	

</script>