<div class="container-fluid">
	<h4 class="c-grey-900 mT-10 mB-30" th:text="#{applalert.admin.title}"></h4>
	<div class="row">
		<div class="col-md-12">
				<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<h4 class="c-grey-900 mB-20" th:text="#{applalert.stats.admin.title}"></h4>
				<form id="statsForm" name="altEditor-form" role="form" th:object="${statsform}" action="#" method="post">
					<div class="form-row">
						<div class="form-group col">
							<label for="minDate" th:text="#{applalert.stats.form.mindate}"></label> 
							<span id="minDateLogo" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span> 
							<input type="date" class="form-control date-input" id="minDate" name="minDate" th:field="*{minDate}" step="1">
						</div>
						<div class="form-group col">
							<label for="maxDate" th:text="#{applalert.stats.form.maxdate}"></label> 
							<span id="maxDateLogo" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span> 
							<input type="date" class="form-control date-input" id="maxDate" name="maxDate" th:field="*{maxDate}" step="1">
						</div>
						<div class="form-group col">
							<label for="application" th:text="#{applalert.stats.form.application}"></label>
							<select name="appID" id="appID" class="form-control" th:field="*{appID}" required>
								<option value="-1" th:text="#{applalert.stats.form.all}" selected></option>
								<option th:each="t: ${applicationsList}" th:value="${t.idApplication}" th:text="${t.name}">
								</option>
							</select>
						</div>
						<div class="form-group col">
							<label for="template" th:text="#{applalert.stats.form.template}"></label>
							<select name="templateID" id="templateID" class="form-control" th:field="*{templateID}" required>
								<option value="-1" th:text="#{applalert.stats.form.all}" selected></option>
								<option th:each="t: ${templatesList}" th:value="${t.idTemplate}" th:text="${t.name}">
								</option>
							</select>
						</div>
						<div class="form-group col">
							<label for="alarm" th:text="#{applalert.stats.form.alarm}"></label>
							<select name="typeID" id="typeID" class="form-control" th:field="*{typeID}" required>
								<option value="-1" th:text="#{applalert.stats.form.all}" selected></option>
								<option th:each="t: ${typesList}" th:value="${t.idType}" th:text="${t.name}">
								</option>
							</select>
						</div>
						<div class="form-group col">
							<label for="service" th:text="#{applalert.stats.form.node}"></label>
							<select name="nodeID" id="nodeID" class="form-control" th:field="*{nodeID}" required>
								<option value="-1" th:text="#{applalert.stats.form.allnodes}" selected></option>
								<option th:each="t: ${nodesList}" th:value="${t.idNode}" th:text="${t.name}">
								</option>
							</select>
						</div>
						<div class="form-group col">
							<label for="criticity" th:text="#{applalert.stats.form.criticity}"></label>
							<select name="severityID" id="severityID" class="form-control" th:field="*{severityID}" required>
								<option value="-1" th:text="#{applalert.stats.form.all}" selected></option>
								<option th:each="t: ${severityList}" th:value="${t.idSeverity}" th:text="${t.name}">
								</option>
							</select>
						</div>
					</div>

					<button id="filterStatsBtn" class="btn btn-primary" type="button"
						th:text="#{applalert.stats.form.btn.consult}"></button>
					<button id="cleanStatsBtn" class="btn btn-primary" type="button"
						onclick="cleanForm();" th:text="#{applalert.stats.form.btn.clean}"></button>
				</form>
			</div>
			<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<table id="statsTable"  class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th th:text="#{table.stats.application}"></th>
							<th th:text="#{table.stats.template}"></th>
							<th th:text="#{table.stats.alarm}"></th>
							<th th:text="#{table.stats.node}"></th>
							<th th:text="#{table.stats.criticity}"></th>
							<th th:text="#{table.stats.ocurrences}"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">

$(document).ready(function() {

	var buttonCommon = {
	        exportOptions: {
	            format: {
	                body: function ( data, row, column, node ) {
						if (column == 5) {
							data = data.replace('<div class = "alert alert-danger text-center alert-severity">', '');
							data = data.replace('<div class = "alert alert-dark text-center alert-severity">', '');
							data = data.replace('<div class = "alert alert-warning text-center alert-severity">', '');
							data = data.replace('<div class = "alert alert-info text-center alert-severity">', '');
							data = data.replace('</div>', '');
							return data;
						} else {
							return data;
						}
	                }
	            }
	        }
	    };

	var statsTable;
	var filterStats = /*[[@{/filterstats}]]*/;
	var getStats = /*[[@{/alertstatisticsdatatable}]]*/;
	
	statsTable = $('#statsTable').DataTable({
		dom: 'Bfrtip',
	    select: 'single',
	    responsive: true,
	    altEditor: true,
		buttons: [
            $.extend( true, {}, buttonCommon, {
                extend: 'copyHtml5'
            } ),
            $.extend( true, {}, buttonCommon, {
                extend: 'excelHtml5',
                filename: 'informeEstadisticas'
            } ),
            $.extend( true, {}, buttonCommon, {
                extend: 'pdfHtml5',
				filename: 'informeEstadisticas'
            } )
        ],
	
	    "iTotalRecords": "totalElements",
        "iTotalDisplayRecords": "numberOfElements",
	    
	    "language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	            rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	            }
	          }
	        },
		"ajax": {
			"url": getStats,
			"dataSrc" : "data",
			"data": function (data) {
		     }
		},
		"columns": [
	        { "data": "application.name" },
	        { "data": "template.name" },
	        { "data": "type.name" },
	        { "data": "node.name" },
	        { "data": "severity.name" ,
				"render": function (data, type, row) {
					var result;
					
					switch (data){
						case "FATAL":
							result = '<div class = "alert alert-danger text-center alert-severity">' + data + '</div>';
						break;
						case "ERROR":
							result = '<div class = "alert alert-dark text-center alert-severity">' + data + '</div>';
						break;
						case "WARNING":
							result = '<div class = "alert alert-warning text-center alert-severity">' + data + '</div>';
						break;
						case "INFO":
							result = '<div class = "alert alert-info text-center alert-severity">' + data + '</div>';
						break;
					}	        	  
					return result;
			}},	
	        { "data": "occurrences" }
	        ]
		});

	$('#filterStatsBtn').on( 'click', function () {

		if (($("#minDate").val() == "" || $("#maxDate").val() == "" ||
			$("#minDate").val() == null || $("#maxDate").val() == null)
			|| new Date($("#minDate").val()) > new Date($("#maxDate").val())){
			
        	$('#errorModalStatistic').remove();
        	$('#statsForm').append
        	('<div id="errorModalStatistic" class="alert alert-danger" role="alert"><strong>' +
        	'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
            [[#{applalert.stats.form.dateerror}]] + 
            '</strong></div>');
        	
    	} else {

		    loading();
		    
		    $('#errorModalStatistic').remove();
		    
			$.ajax(filterStats, {
		    	dataType : 'json',
		    	contentType:'application/json',
		        data : JSON.stringify($("#statsForm").serializeJSON()),
		        type:'POST',
		        success: function(data){
		    		// Se oculta la capa 'cargando...'
		    		hide();
					statsTable.clear().draw();
					statsTable.rows.add($(data.data)); 
					statsTable.draw(); 
		        },
		        error:function(data){
		        	hide();
		        	$('#errorModalStatistic').remove();
		        	$('#statsForm').append('<div id="errorModalStatistic" class="alert alert-danger" role="alert"><strong>' +[[#{message.error}]]+ '</strong></div>');
		        }
		    });
		}
	 });
});	

function cleanForm(){
	$('#errorModalStatistic').remove();
	$('#minDate').val(null);
	$('#maxDate').val(null);
	$('#appID').val("-1");
	$('#templateID').val("-1");
	$('#typeID').val("-1");
	$('#nodeID').val("-1");
	$('#severityID').val("-1");
}
</script>