      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" th:href="@{/inicio}">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img th:src="@{images/chart_logo.png}"
						alt="Monitoriz@ Logo" />
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text" th:text="#{monitoriza.title}"></h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <form id="formMenu" class="form-sidebar"> 
      	   	<ul class="sidebar-menu scrollable pos-r">
	            <li class="nav-item mT-30 active">
	              <a class="sidebar-link" th:href="@{/inicio}">
	                <span class="icon-holder">
	                  <i class="c-blue-500 ti-home"></i>
	                </span>
	                <span class="title" th:text="#{menu.inicio}"></span>
	              </a>
	            </li>
	            <li class="nav-item">
	              <a id="aUserAdmin" class='sidebar-link' href="#">
	                <span class="icon-holder">
	                  <i class="c-brown-500 ti-user"></i>
	                </span>
	                <span class="title" th:text="#{menu.admin.user}"></span>
	                 <script th:inline="javascript">
	                 	var actionUser = /*[[@{/useradmin}]]*/;
	                 	$('#aUserAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionUser, 'optionReplacement', 'GET', null, true); return false;});
	                </script>
	              </a>
	            </li>
	            <li class="nav-item dropdown">
	              <a id="aPlatformAdmin" class="dropdown-toggle" href="javascript:void(0);">
	                <span class="icon-holder">
	                  <i class="c-orange-500 ti-server"></i>
	                </span>
	                <span class="title" th:text="#{menu.admin.platform}"></span>
	                <span class="arrow"><i class="ti-angle-right"></i></span>
	              </a> 
				   <ul class="dropdown-menu">
						<li>
							<a id="aAfirmaAdmin" class='sidebar-link' href="#">
							    <span class="title" th:text="#{menu.admin.platform.afirma}"></span>
								<script th:inline="javascript">
		                 			var actionAfirma = /*[[@{/platformafirma}]]*/;
		                 			$('#aAfirmaAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionAfirma, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
	               			</a>
	               		</li>
						<li>
							<a id="aTsaAdmin" class='sidebar-link' href="#">
							    <span class="title" th:text="#{menu.admin.platform.tsa}"></span>
								<script th:inline="javascript">
		                 			var actionTsa = /*[[@{/platformtsa}]]*/;
		                 			$('#aTsaAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionTsa, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
		               		</a>
	               		</li>
				   </ul>
				</li>
				<li class="nav-item">
	              <a id="aServiceAdmin" class='sidebar-link' href="#">
	                <span class="icon-holder">
	                  <i class="c-green-500 ti-panel"></i>
	                </span>
	                <span class="title" th:text="#{menu.admin.service}"></span>
	                 <script th:inline="javascript">
	                 	var actionService = /*[[@{/serviceadmin}]]*/;
	                 	$('#aServiceAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionService, 'optionReplacement', 'GET', null, true); return false;});
	                </script>
	              </a>
	            </li>
	            <li class="nav-item dropdown">
	              <a id="aKeystoreAdmin" class="dropdown-toggle" href="javascript:void(0);">
	                <span class="icon-holder">
	                  <i class="c-brown-500 ti-key"></i>
	                </span>
	                <span class="title" th:text="#{menu.admin.keystore}"></span>
	                <span class="arrow"><i class="ti-angle-right"></i></span>
	              </a> 
				   <ul class="dropdown-menu">
						<li>
							<a id="aSslAdmin" class='sidebar-link' href="#">
								<span class="title" th:text="#{menu.admin.keystore.ssl}"></span>
								<script th:inline="javascript">
		                 			var actionSsl = /*[[@{/ssladmin}]]*/;
		                 			$('#aSslAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionSsl, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
	               			</a>
	               		</li>
						<li>
							<a id="aAuthAdmin" class='sidebar-link' href="#">
							    <span class="title" th:text="#{menu.admin.keystore.auth}"></span>
								<script th:inline="javascript">
		                 			var actionAuth = /*[[@{/authadmin}]]*/;
		                 			$('#aAuthAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionAuth, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
		               		</a>
	               		</li>
	               		<li>
							<a id="aUserStore" class='sidebar-link' href="#">
							    <span class="title" th:text="#{menu.admin.keystore.user}"></span>
								<script th:inline="javascript">
		                 			var actionUserStore = /*[[@{/userstore}]]*/;
		                 			$('#aUserStore').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionAuth, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
		               		</a>
	               		</li>
				   </ul>
				</li>
				<li class="nav-item">
	              <a id="aAlarmAdmin" class='sidebar-link' href="#">
	                <span class="icon-holder">
	                  <i class="c-red-500 ti-alarm-clock"></i>
	                </span>
	                <span class="title" th:text="#{menu.admin.alarm}"></span>
	                 <script th:inline="javascript">
	                 	var actionAlarm = /*[[@{/alarmadmin}]]*/;
	                 	$('#aAlarmAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionAlarm, 'optionReplacement', 'GET', null, true); return false;});
	                </script>
	              </a>
	            </li>
	          </ul>
          </form>
        </div>
      </div>