<div class="bgc-white bd bdrs-3 p-20 mB-20">
	<div class="container-fluid">
		<input type="button" th:value="#{button.view.refresh}" class="btn btn-primary" onClick="window.location.reload()">
		<div class="masonry-sizer col-md-12">
			<table id="statusTable" class="display"
				style="cellspacing: 0; width: 100%;">
				<thead>
					<tr>
						<th th:text="#{table.status.view}">Status Aux img</th>
						<th></th>
						<th th:text="#{table.status.service}">Service</th>
						<th th:text="#{table.status.averageTime}">Average Time</th>
						<th th:text="#{table.status.samplingTime}">Sampling Time</th>
						<th></th>
						<th th:text="#{table.status.info}">urls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="st : ${status.data}">
						<td th:if="${st.statusAux eq 2}">
							<i class="c-red-500 ti-control-record"></i>
						</td>
						<td th:if="${st.statusAux eq 1}">
							<i class="c-yellow-500 ti-control-record"></i>
						</td>
						<td th:if="${st.statusAux eq 0}">
							<i class="c-green-500 ti-control-record"></i>
						</td>
						<td th:text="${st.statusAux}"></td>
						<td th:text="${st.service}"></td>
						<td th:text="${st.averageTime}"></td>
						<td th:text="${st.samplingTime}"></td>
						<td th:text="${st.partialRequestResult}"></td>
						<td><i class='c-blue-500 ti-search'> </i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<style type="text/css">
td.details-control {
    content: "\e610";
    cursor: pointer;
}
tr.shown td.details-control {
    content: "\e610";
}
</style>

<script th:inline="javascript">

$(document).ready(function() {
	
	var tableStatusInterval = $('#statusTable').DataTable({
		"pagingType" : "full_numbers",
		"initComplete" : function(settings, json) {
			//eliminamos el scroll inferior
			$('#statusTable_wrapper .dataTables_scrollBody').css("overflow-x", "hidden");
			$('#statusTable_length').addClass("hidden");
			//$('#statusTable_filter').addClass("hidden");
			$('#statusTable_info').addClass("hidden");
			$('#statusTable_paginate').addClass("hidden");
		},
		"columnDefs" : [ 
			{
				"targets" : [ 1 ],
				"visible" : false,
				"searchable" : false
			},
			{
				"targets" : [ 5 ],
				"visible" : false,
				"searchable" : false
			},
			{
				"targets" : [ 6 ],
                "className": 'details-control',
                "orderable": false,
				"visible" : true,
                "data": "H",
                "defaultContent": ''
            }
		],
		"order" : [ 1, 'desc' ],
		responsive : {
			details : {
				type : 'column',
				target : -1
			}
		}

	});
	
	// Add event listener for opening and closing details
	$('#statusTable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = tableStatusInterval.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    });
});

function format ( d ) {
    var result = '<table id="statusTable" class="display" style="cellspacing: 0; width: 100%; background-color: lightgrey;">';
	
    $.each( d, function( key, value ) {
		if(key === '5'){
			if (value == "" || value == "{}"){
				result += '<thead></thead>';
				result += '<tbody>';
				result += '<tr><td>'+ [[#{message.view.noInfo}]] +'</td></tr>';
			}else{
				result += '<thead><tr><th>'+ [[#{table.status.infoFile}]] +'</th><th>'+ [[#{table.status.averageTime}]] +'</th></tr></thead>';
				result += '<tbody>';
				value = $.trim(value);
				value = value.replace("{", "");
				value = value.replace("}", "");
				var files = value.split(",");
				for(var i=0; i<files.length;i++){
					var filesAux = files[i].split("=");
					var pos = filesAux[0].search('grupo');
					
					if(pos >= 0){
						var filName = filesAux[0].substr(pos);
					}
					result += '<tr><td>'+filName+'</td><td>'+filesAux[1]+'</td></tr>';
				}
			}
		}
	});
	result += '</tbody>';
	result += '</table>';
    
    return result;
}

// Auto refresco de la pagina de estados de semaforos
setInterval(function(){
	var urlStatus = /*[[@{/status}]]*/;
	if (tableStatusInterval != undefined){
		tableStatusInterval.ajax.url( urlStatus ).load();
	}
}, 30000);

</script>