<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description>Monitoriz@ VIP Status Servlet</description>
    <display-name>AfirmaServicesStatus</display-name>
    <servlet-name>AfirmaServicesStatus</servlet-name>
    <servlet-class>es.gob.monitoriza.status.AfirmaServicesStatus</servlet-class>
  </servlet>
  <servlet>
    <description>Monitoriz@ SPIE Status Servlet</description>
    <display-name>SpieStatus</display-name>
    <servlet-name>SpieStatus</servlet-name>
    <servlet-class>es.gob.monitoriza.spie.status.SpieStatus</servlet-class>
  </servlet>
  <servlet>
    <description>Monitoriz@ @firma Task Servlet</description>
    <display-name>MonitorizaServletTask</display-name>
    <servlet-name>MonitorizaServletTask</servlet-name>
    <servlet-class>es.gob.monitoriza.task.MonitorizaServletTask</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>Monitoriz@ SPIE Task Servlet</description>
    <display-name>MonitorizaSpieTask</display-name>
    <servlet-name>MonitorizaSpieTask</servlet-name>
    <servlet-class>es.gob.monitoriza.spie.task.MonitorizaSpieTask</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfirmaServicesStatus</servlet-name>
    <url-pattern>/afirmaServicesStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpieStatus</servlet-name>
    <url-pattern>/spieStatus</url-pattern>
  </servlet-mapping>
</web-app>